.widget.gitextensionpie {
    background-color: #FCA326;
}

.widget.gitextensionpie .title {
    color: #E24329;
}

.widget.gitextensionpie .value {
    color: #fff;
}

.widget.gitextensionpie .change-rate i {
    margin-right: 4px;
}