.widget.gituser {
    background-color: #ff6d00;
}

.widget.gituser .title {
    color: rgba(207, 2, 43, 0.7);
}

.widget.gituser .value {
    color: #fff;
}

.widget.gituser .change-rate i {
    margin-right:4px;
}