.widget.sonaractiveapps {
    background-color:#47bbb3;
}

.widget.sonaractiveapps .title {
    color: rgba(255, 255, 255, 0.7);
}

.widget.sonaractiveapps ul{
    margin: 0 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
    padding: 0;
}

.widget.sonaractiveapps ul li{
    margin-bottom: 5px;
    overflow: hidden;
}

.widget.sonaractiveapps ul li .label{
    color: rgba(255, 255, 255, 0.7);
}

.widget.sonaractiveapps ul li .value{
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: #fff;
}

.widget.sonaractiveapps ul li .value .red {
    color: #e3394f;
}

.widget.sonaractiveapps ul li .value .green {
    color: #86d751;
}

.widget.sonaractiveapps ul li .value i {
    margin-right:4px;
}
