.widget.media-markdown {
	background-color: #ec663c;
}

.grid-stack .grid-stack-item-content .grid-stack-item-content-inner {
	height: 96%;
	width: 96%;
	margin: 2%;
}

.widget.media-markdown * {
	text-align: left;
	margin: 0;
	text-transform: inherit;
}

.widget.media-markdown h1 {
	font-size: 2em;
	font-weight: bolder
}

.widget.media-markdown h2 {
	font-size: 1.5em;
	font-weight: bolder
}

.widget.media-markdown h3 {
	font-size: 1.17em;
	font-weight: bolder
}

.widget.media-markdown h4 {
	font-size: 1em;
	font-weight: bolder
}

.widget.media-markdown h5 {
	font-size: 0.83em;
	font-weight: bolder
}

.widget.media-markdown h6 {
	font-size: 0.67em;
	font-weight: bolder
}

.widget.media-markdown a {
	color: -webkit-link;
	text-decoration: underline;
}

.widget.media-markdown code {
	background-color: #535158;
}