.widget.gituserprofile {
    background-color: #fca326;
}

.widget.gituserprofile .title {
    color: #E24329;
}

.widget.gituserprofile .value {
    color: #fff;
}

.widget.gituserprofile .change-rate i {
    margin-right: 4px;
}