.widget.githubOpenedPR {
	background-color: #d1d3d1;
}

.widget.githubOpenedPR .title {
	color: rgba(71, 33, 38, 0.7);
}

.widget.githubOpenedPR .value {
	color: #fff;
}

.widget.githubOpenedPR .change-rate i {
	margin-right: 4px;
}