.widget.gitprojectpie {
    background-color: #fca326;
}

.widget.gitprojectpie .title {
    color: #E24329;
}

.widget.gitprojectpie .value {
    color: #fff;
}

.widget.gitprojectpie .change-rate i {
    margin-right:4px;
}