.widget.jenkinsGitJobsRunningOnAPeriod .infos {
	font-size: 15px;
	padding-top: 10px;
}

.widget.jenkinsGitJobsRunningOnAPeriod .percentage {
	font-style: italic;
}

.widget.jenkinsGitJobsRunningOnAPeriod .quantity {
	color: #a5d6a7;
}

.widget.jenkinsGitJobsRunningOnAPeriod .value {
	font-weight: 700;
	font-size: 30px;
	text-transform: none;
	margin: 10px 0;
}

.widget.jenkinsGitJobsRunningOnAPeriod .icon-background {
	opacity: 0.05;
}

.widget.jenkinsGitJobsRunningOnAPeriod {
	background-color: #607D8B;
}

.widget.jenkinsGitJobsRunningOnAPeriod .green {
	background-color: #607D8B;
}

.widget.jenkinsGitJobsRunningOnAPeriod .red {
	background-color: #e3394f;
	-webkit-animation: status-danger-background 1s infinite;
	/* Safari 4+ */
	-moz-animation: status-danger-background 1s infinite;
	/* Fx 5+ */
	-o-animation: status-danger-background 1s infinite;
	/* Opera 12+ */
	animation: status-danger-background 1s infinite;
	/* IE 10+, Fx 29+ */
}