.widget.media-text {
	background-color: #ec663c;
}

.widget.media-text .title {
	color: rgba(255, 255, 255, 0.7);
}

.widget.media-text h3 {
	white-space: pre-wrap;
}

.widget.media-text .small {
	font-size: 30px;
}

.widget.media-text .medium {
	font-size: 60px;
}

.widget.media-text .large {
	font-size: 90px;
}

.widget.media-text .very-large {
	font-size: 120px;
}